.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #191c32;
  color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    font-size: 20px;
  
  }
  .navbar .fa-times{
    display:none;
    font-size:2.3em;
  }
  
  .brand span {
    color: aqua;
  }
  
  .brand {
    margin-top: -7px;
  }
  