

/*Mobile menu Version*/
.toggle-menu,
.info-content__subtitle,
.info-content__social-network {
  display: none;
}

.info-content__subtitle {
  margin-bottom: .5em;
}
/*Media querys to make it responsive */

@media screen and (max-width: 800px) {
  .menu {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #2b3058;
    z-index: 1;
    transform: translateX(-110%);
    transition: all 0.5s ease-in-out;
  }

  .show-menu {
    transform: translateX(0%);
     transition: all 0.5s ease-in-out;
  }

  .menu li {
    margin: 2em;
  }

  .toggle-menu {
    display: block;
  }

  .fa-bars {
    font-size: 2em;
  }

  .main,
  .about {
    display: flex;
    flex-direction: column-reverse;
  }

  .main img {
    width: min(70%, 350px);
    height:auto;
  }

  .info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-content .social-network {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;

  }
  .download-cv{
    margin-top: 30px;
    font-size: 1em;
  }
  .contact-img
  {
    display: none;
  }

  .info-content__subtitle {
    display: block;
    margin-bottom:1.5em;
    margin-top:2.5em;
  }
  .container-contact{
    padding:0;
  }
  .proyects-details-content{
    margin-top:0;
  }
  .form{
    width:80vw;
  }
  .footer h2{
    font-size:2.5em;
  }
  .footer h5{
    margin-left:60px;
  }
  .social-network{
    font-size:2em;
  }
}